:root {
  --background-color: rgb(226, 236, 233);
  --header-color: rgb(4, 65, 74);
  --button-color: rgb(190, 225, 231);
  --button-dark-color: rgb(4, 64, 74);
  --card-background-color: rgb(240, 239, 235);
  --font-light-color: rgb(190, 225, 231);
  --font-light-color2: rgb(58, 108, 118);
  --font-dark-color: rgb(4, 65, 74);
}

* {
  transition: all 0.1s ease-out
}

body {
  background-color: var(--background-color);
}

.main {
  min-width: 300px;
}

.h1 {
  width: 100%;
  margin: 0;
  padding: 35px 0;
  background-color: var(--header-color);
  text-align: center;
  color: var(--font-light-color);
  font-weight: 600;
  font-size: 50px;
}

.recipes {
  margin: auto;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 20px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--card-background-color);
  color: var(--font-dark-color);
}

.card > * {
  margin: 15px 20px;
}

.card > img {
  margin: 0;
}

.card__image {
  display: inherit;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.card__info {
  margin-bottom: 60px;
}

.card__h2 {
  margin: 0;
  font-weight: 600;
  font-size: 34px;
}

.card__likes {
  color: var(--font-light-color2);
  font-size: 18px;
  font-weight: 600;
}

.card__description {
  font-size: 23px;
  font-weight: 800;
}

.card__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--font-light-color2);
  gap: 10px;
}

.card__details__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0;
  gap: 2px;
  font-size: 18px;
}

.card__details__star {
  display: inherit;
  width: 1em;
}

.card__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.card__button {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--button-color);
  border: 0;
  padding: 7px 10px;
  border-radius: 7px;
  gap: 5px;
  cursor: pointer;
  opacity: 0.85;
}

.card__button:hover {
  background-color: var(--button-dark-color);
  color: var(--font-light-color);
  opacity: 0.9;
}

.card__button:hover .card__button__image {
  filter: invert(100%);
}

.card__button:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.card__button__image {
  width: 1.25em;
}
